<html>
	<head>
		<title>Vue.js</title>
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
		<link rel="stylesheet" href="style.css">
		<link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon-16x16.png">
	</head>

	<body>
		
		<div id="app">
			<div class="product">
				<div class="product-image">
					<img v-bind:src="image" v-bind:alt="altText">
				</div>

				<div class="product-info">
					<h1>Product Name : {{ product}} </h1>
					<h2>Description : {{description}} </h2>
					<p v-if="inventory > 10">In Stock</p>
					<p v-else-if="inventory > 0 && inventory <= 10">Almost sold out!</p>
					<p v-else>Out of Stock</p>
					<span class="on-sale">On Sale!</span>
					<ul>
						<li v-for="detail in details">{{ detail }}</li>
					</ul>

					<div v-for="variant in variants" 
					v-bind:key="variant.variantId"
					class="color-box"
					v-bind:style="{backgroundColor: variant.variantColor}"
					v-on:mouseover="changeImage(variant.variantImage)">
					</div>

					<button v-on:click="addToCart" 
					v-bind:disabled="inventory == 0"
					v-bind:class="{ 'disabled-button': inventory == 0 }">Add to Cart </button>

					<div class="cart">
						<p>Cart({{cart}})</p>
					</div>
				</div>

			</div>
			
		</div>



		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="script.js"></script>
	</body>

</html>