* {
	background: #69F0AE;
	color: #78909C;
}

button {
	margin-top: 30px;
	border: none;
	background-color: #1E95EA;
	color: white;
	height: 40px;
	width: 100px;
}

.disabled-button {
	background-color: #d8d8d8;
}

.product {
	align: center;
}
.product-image {
	display: inline-block;
}

.product-image img {
	width: 50%;
	height: 50%;
}

.product-info {
	display: inline-block;
}

.on-sale {
	color: #E57373;
	font-family: 'Playfair Display', serif;
}

.color-box {
	width: 40px;
	height: 40px;
	margin-top: 5px;
}

.cart {
	margin-right: 25px;
	float: right;
	border: 1px solid #d8d8d8;
	padding: 5px 20px;
}