
#container {
  margin: auto auto;
  margin-top: 1%;
  display: grid;
  width: 122px;
  height: 100%;
  grid-template-columns : 30px 30px 30px 30px;
  grid-template-rows: 25px 1fr 1fr 1fr 1fr;
  grid-template-areas:"screen screen screen screen"
                      "seven eight nine division"
                      "four five six multiplication"
                      "one two three subtraction"
                      "zero decimal addition equals"
                      "CE CE CE CE";
  border: 1px solid black;
}

#screen{
 grid-area:screen;
 border: 2px solid black;
 border-radius: 5%;
 background-color: #00ff99;
 text-align: right;
}

#zero {
  grid-area:zero;
}

#one {
  grid-area:one;
}

#two {
  grid-area:two;
}

#three {
  grid-area:three;
}

#four {
  grid-area:four;
}

#five {
  grid-area:five;
}

#six {
  grid-area:six;
}

#seven {
  grid-area:seven;
}

#eight {
  grid-area:eight;
}

#nine {
  grid-area:nine;
}

#decimal {
  grid-area:decimal;
}

#addition {
  grid-area:addition;
}

#division {
  grid-area:division;
}

#multiplication {
  grid-area:multiplication;
}

#subtraction {
  grid-area:subtraction;
}

#equals {
  grid-area:equals;
}

#clear {
  grid-area: CE;
}