.ham-menu { display: inline-block; position: relative; margin-top: 5px; margin-bottom: 0px; margin-right: 0px; margin-left: 0px; } /* margin = (width-height)/2 */
.ham-menu, .ham-menu::before, .ham-menu::after { width: 45px; height: 7px; border-radius: 7px; background-color: black; }
.ham-menu::before, .ham-menu::after { content: ""; display: block; position: absolute; }
.ham-menu::before { bottom: 130%; } .ham-menu::after { top: 130%; }


@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes twisting {

	0% {
		transform: rotate(90);
	}

	25% {
		transform : rotate(180);
	}

	50% {
		transform: rotate(270);
	}

	75% {
		transform : rotate(360);
	}


}

.ham-menu {
  animation-duration: 2s;
  animation-name: bounceIn;
}

.twist {
	animation-duration: 2s;
	animation-name : twisting;
}

