#parent{
  text-align: center;
}

input {
  width: 5%;
}

#render {
  display: grid;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.gridElement {
	border : 2px dashed #01FF70;
	background: #001f3f;
	text-align: center;
	color: #FFFFFF;
}

#resetBtn {
	margin-bottom: 2%;
}