body {
  background-color: #85DCB9;
  color: #DAAD86;
}
#container {
  width: 100%;
  height: 100%;
  display: grid;
  text-align:center;
  font-family: 'Staatliches', cursive;
}

#firstRow {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5%;
}

.article {
  border: 3px solid black;
  width: 100%;
  height: 170px;
}

#androidLayouts {
  background: url(https://github.com/TomerPacific/MediumArticles/blob/master/images/AndroidLayouts.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: 100%;
}

#visibility {
  background: url( https://github.com/TomerPacific/MediumArticles/blob/master/images/AndroidVisibility.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: 100%;
}

#chromeAPI {
  background: url( https://github.com/TomerPacific/MediumArticles/blob/master/images/ChromeAPI.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: 100%;
}

#publishExtension {
  background: url(https://github.com/TomerPacific/MediumArticles/blob/master/images/howToPublishChromeExtension.jpg?raw=true);
    background-repeat: no-repeat;
  background-size: 100%;
}