body {
  background-color: #85DCB9;
  color: #DAAD86;
}
#container {
  width: 100%;
  height: 100%;
  display: grid;
  text-align:center;
  font-family: 'Staatliches', cursive;
}

.row {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4%;
}

.article {
  border: 3px solid black;
  width: 100%;
  height: 150px;
}

a {
  text-decoration: none;
  color: #99602f;
}

li:hover { 
  box-shadow: 0 0 50px #FFFFFF;
}

#androidLayouts {
  background: url(https://github.com/TomerPacific/MediumArticles/blob/master/images/AndroidLayouts.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


#visibility {
  background: url( https://github.com/TomerPacific/MediumArticles/blob/master/images/AndroidVisibility.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#chromeAPI {
  background: url( https://github.com/TomerPacific/MediumArticles/blob/master/images/ChromeAPI.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#publishExtension {
  background: url(https://github.com/TomerPacific/MediumArticles/blob/master/images/howToPublishChromeExtension.jpg?raw=true);
    background-repeat: no-repeat;
  background-size: 100% 100%;
}

#playStore {
   background: url(https://github.com/TomerPacific/MediumArticles/blob/master/images/PlayStorePublish.jpg?raw=true);
    background-repeat: no-repeat;
  background-size: 100% 100%;
}

#israelIP {
   background: url(https://github.com/TomerPacific/MediumArticles/blob/master/images/IsraelIPProblem.jpg?raw=true);
    background-repeat: no-repeat;
  background-size: 100% 100%;
}

#documentation {
  background: url(https://github.com/TomerPacific/MediumArticles/blob/master/images/Documentation.jpg?raw=true);
    background-repeat: no-repeat;
  background-size: 100% 100%;
}

#firstPR {
  background: url(https://github.com/TomerPacific/MediumArticles/blob/master/images/FirstPR.jpg?raw=true);
    background-repeat: no-repeat;
  background-size: 100% 100%;
}