*{
  font-family: 'Spectral SC', serif !important;
}

h1{
  display:flex;
  justify-content:center;
}

#main, #secondUl, #thirdUl{
  display:flex;
  justify-content:center;
  align-items:space-between;
  margin-bottom: 2%;
}

ul{
  list-style:none;
}

ul li{
  display:inline;
}

.flexBtn{
  font-size: 0.8em;
}

#reset{
  margin-left: 47%;
  margin-bottom: 2%;
}

#userInput{
  display:flex;
  font-size: 1.5em;
}

/*Justify Content CSS */

.justify-left{
  justify-content: flex-start;
}

.justify-right{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}
.space-between{
  justify-content: space-between;
}
.space-around{
  justify-content: space-around;
}

/* Direction CSS */

.direction-row{
  flex-direction: row;
}
.direction-row-reverse{
  flex-direction: row-reverse;
}
.direction-column{
  flex-direction: column;
}

/* Wrap CSS */
.nowrap{
  flex-wrap: nowrap;
}

.wrap{
  flex-wrap: wrap;
}
.wrap-reverse{
  flex-wrap: wrap-reverse;
}