html,
body {
    height: 100%;
}

#cover {
    background: url('top.jpeg') center center no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    align-items: center;
}

#top {
	color: white;
	font-family: 'Acme', sans-serif;
	width: 100%;
	background-color: #b1b1ae4d;
}

#carousel {
    height: 100%;
}

.carousel-control-next, .carousel-control-prev  {
    filter: invert(100%);
}

.carousel-caption {
    color:black;
    width: 20%;
    background-color: #b1b1ae4d;
    margin: auto auto;
}

.carousel-indicators li {
    background-color: black;
}

.carousel-indicators .active {
    background-color: blue;
}