body{
  background-color: black !important;
    font-family: 'Noto Sans', sans-serif;
}

.jumbotron{
  text-align:center;
  font-size:1.5em;
  font-family: 'Noto Sans', sans-serif;
  color: #6441a5 !important;
  background-color:white !important; 
  border-radius: 5%;
  width: 50%;
  margin: auto auto;
}

.streamBtns{
  list-style:none;
}
.streamBtns li{
  display:inline;
}

#resultsList{
  list-style:none;
  color:white;
  font-size: 1em;
  text-align: center;
}

#resultsList li{
  padding-bottom: 2%;
  text-decoration: none;
}
