html {
  text-align: center;
  background-color: gray;
  color:white;
}

#header {
  grid-area: header;
  width: 100%;
  height: 100%;
}

#main {
  grid-area: main;
  background:url("https://github.com/TomerPacific/CodePenImages/blob/master/campfire.jpeg?raw=true");  
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 5%;
  border: 2px solid white;
}

#footer {
  margin-top: 10%;
  grid-area: footer
}

#container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto; 
  grid-template-rows: auto;
  grid-template-areas: 
      "header header header header"
      "main main main main"
      "main main main main"
      "main main main main"
      "main main main main"
      "main main main main"
      "main main main main"
      "main main main main"
      "footer footer footer footer"
}