header {
	text-align: center;
	font-family: 'Oleo Script', cursive;
	margin-bottom: 2%;
	font-size: 1.5em;
}

#typeOfMenu {
	display: flex;
}

form {
	margin: auto;
}

#amountOfItems, #items {
	display: flex;
	margin-top: 2%;
	/*visibility: hidden; */
}

#generateMenu, #output {
	/*display: none; */
	text-align: center;
}

#menuItems {
	width: 20%;
}

.itemId {
	width: 10%;
	margin-right: 5%;
}

.itemIcon {
	margin-right: 5%;
}

#output {
	margin-top: 5%;
	color:black;
	text-align: center;
}

#xml {
	 resize: none;
	 overflow: auto;
}