body {
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #444750;
    font-size: 13px;
    font-family: 'Oleo Script', cursive;
}

header {
    text-align: left;
    padding: 15px 0;
    font-size: 20px;
}

button, input, select, option {
    color: #444750;
    font-size: 13px;
}

#generateMenu, #copyXML {
    padding-top: 15px;
}

.generatedLabel, #amountOfItems {
    margin-top: 5px;
}

/*bootstrap style overrides*/
.btn-outline-primary {
    border-color: #24bfb9;
    color: #24bfb9;
}

.btn-outline-primary:hover {
    background: #24bfb9;
    border-color: #24bfb9;
}

.form-control {
    font-size: 13px;
}

.formItem {
    margin-top: 1%;
}

.formItem input {
    margin-left: 1%;
}

#instructions {
    font-family: 'Carter One', cursive;
    margin-top: 4%;
    border: 2px solid #444750;
    width: 40%;
}

#explanation {
    list-style-position: inside;
    font-size: 1.5em;
    font-family: 'Carter One', cursive;
    margin-top:2%;
}

#generate_menu{
    color: #24bfb9;
}