header {
  text-align: center;
  margin-bottom : 2%;
}

body {
  width: 100%;
  height: 100%;
   background-image: url(https://zdnet3.cbsistatic.com/hub/i/r/2014/10/03/0396b043-4b1e-11e4-b6a0-d4ae52e95e57/resize/770xauto/f9d090fa24cef3418d609f14b6ef5686/2012-02-09manual-typewriter-0209stock.jpg);
background-repeat:no-repeat;
background-size:stretch;
background-position:center;
}

main {
  display: flex;
  justify-content:center;
}

#mainInput {
  font-size: 2em;
  top: 20%;
}

#userInput {
  position: absolute;
  left: 40%;
  top: 20%;
  width: 20%;
  height: 20%;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
   font-size: 1em;
  font-family: 'Fredericka the Great',
    cursive;
  color: #1a1a1a;
  caret-color: rgb(0, 200, 0);
}

input:focus {
  outline: none;
}