html, body
{
	background: url("../img/bg.jpg") center center no-repeat;
	height: 100%;
	background-size: cover;
}

/* Smaller Screens*/
@media(max-width: 768px)
{

	#logo img{
		width: 50%;
	}

	#counter .countdown
	{
		font-size: 1.4em !important;
	}

	#icons .fa
	{
		margin: 10px 0 0 !important;
		font-size:2em;
	}
}

/*  Landscape */
@media(min-width: 321px) and (max-width: 568px)
{

	#logo img{
		width: 20%;
	}
}



#logo img 
{
	padding-top: 2.5%;
}

#intro p
{
	color: white;
	text-align: center;
    font-family: 'Just Another Hand', cursive;
    font-size: 2em;
}

#counter .countdown{
	text-align: center;
	color: white;
	font-family: 'Amatica SC', cursive;
	font-size: 3em;
	margin : -2.5% 0 0;
}

#icons
{
	text-align: center;
}

#icons .fa
{
	color:white;
	margin: 10px 15px;
	position: relative;
	bottom:0;
	transition: all 0.2s ease-in-out;
}

#icons .twitter:hover
{
	color:#6cadde;
	bottom:5px;
}

#icons .facebook:hover
{
	color:#3b5998;
	bottom:5px;
}

#icons .google:hover
{
	color:#ea4335;
	bottom:5px;
}

#icons .instagram:hover
{
	color:#517fa6;
	bottom:5px;
}

#signup 
{
	text-align: center;
}

#signup .form-inline {
	display:block;
}

#signup .btn 
{
	background-color: rgba(161,186,226, 0.5);
	color:white;
}

#signup .btn:hover
{
	background-color: rgba(37,165,82,1);
}