body {
   background: url(https://images.pexels.com/photos/1601464/pexels-photo-1601464.jpeg?cs=srgb&dl=pexels-1601464.jpg&fm=jpg);
  background-width: 100%;
  background-height: 100%;
  background-repeat:no-repeat; 
  background-size:cover;
}

#root {
  text-align: center;
  width: 100%;
  height: 100%;
}

.drum-pad {
  padding: 1%;
  color: #ff9900;
  background-color: #000000 ;
  border: 2px solid #abcdef;
  margin: 1%;
  border-radius: 5%;
}

header {
  text-align: center;
  width: 100%;
  margin-bottom: 5%;
  font-family: 'Coiny', cursive;
  font-size: 1.5em;
  color: #abcdef;
}